.excalidraw-wrapper {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    /* 使按钮相对定位 */
}

.excalidraw-wrapper .zoom-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10;
    /* 确保按钮在上层 */
}

.excalidraw-wrapper .zoom-btn:hover {
    background-color: #0056b3;
}

.excalidraw-wrapper .excalidraw {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .excalidraw-wrapper {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .excalidraw-wrapper {
        height: 300px;
    }
}